div{
    background-color: #0c2461;
    color: whitesmoke;
}

.blackCon{
    background-color: #192a56;
    height: 28.6em;
}

.container{
    margin: 0% 20%;
    width: 60%;
    align-content: center;
    margin-right: 20%;
    background-color: #0c2461;
    height: 28.6em;
}
