<nav class="navbar ">
    <div class="navbar-header d-flex">
        <span id="float"></span>
        <p class="navbar-brand"><span class="link">Personal
                Twitter</span></p>
        <form>
            <div class="search-block">
                <input id="searchbar" type="text" placeholder="Search tweet">
                <button type="submit" class="btn"><span><img src="../../assets/img/magnifying-glass.png"
                            alt=""></span></button>
            </div>
        </form>
    </div>
</nav>