body {
	margin: 10%;
	color: black;
	background: #111111;
	font-family: sans-serif;
}

.navbar {
	border: 0;
	border-radius: 0;
	background: #0c2461;
}

button {
		background: transparent;
}

.link{
	color: whitesmoke;
}

#searchbar{
	width:500px;
	background-color: #192a56;
	border-color: #192a56;
	color: whitesmoke;
	border-radius: 5px;
}

#float{
	width: 280px;
}